.box{
    height: 190px;
    padding: 8px;
    text-align: center;

}
.box:nth-child(even){
    
    background: linear-gradient(blue, white);
}
.box:nth-child(odd){
    background: linear-gradient(pink, white);
  
}
  